@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
}

.topbar {
    background-color: #272727;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-family: 'Lalezar';
}

    .topbar > a {
        width: 20%;
        height: 80%;
        background-color: #00384D;
        border-radius: 6px;
        color: white;
        font-size: 2vw;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
    }

        .topbar > a > div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .topbar > a > div > img {
                width: 90%;
                height: 90%;
                padding-right: .2vw;
            }

    .topbar > .selected {
        background-color: #74C7D3;
    }

.content {
    width: 100%;
    height: 80%;
    background: linear-gradient(288deg, rgba(255, 255, 255, 0.30) -20.1%, rgba(32, 32, 32, 0.30) 99.35%);
    color: white;
    letter-spacing: .1rem;
}

    .content > .title {
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        font-family: 'Lalezar';
        font-size: 300%;
    }

    .content > .aboutus {
        padding: 0 1rem;
        font-family: 'Lalezar';
    }

.footer {
    font-family: "Lalezar";
    background-color: #272727;
    width: 100%;
    height: 10%;
    color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

    .footer > a {
        text-decoration: none;
        color: #808080;
    }

    .footer > div {
        display: flex;
        align-items: center;
    }

        .footer > div > svg {
            margin-right: 1rem;
        }

.stylessLink {
    text-decoration: none;
    color: white;
}

.lecturerSearchList {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.card {
    width: calc(100% - 2rem);
    height: 20rem;
    background-color: #74C7D3;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content auto;
    cursor: pointer;
}

    .card > img {
        width: 18vh;
        padding: 0 1rem 1rem 0;
    }

    .card > div {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: max-content auto;
        position: relative;
        font-size: 3vh;
    }

        .card > div > ul {
            list-style-type: none;
            margin-top: 2vh;
        }

            .card > div > ul > li {
                float: left;
                padding-right: 2px;
            }

        .card > div > p {
            font-weight: bold;
        }

        .card > div > div {
            font-size: 2vh;
            position: absolute;
            right: 0;
        }

            .card > div > div > span > img {
                width: 2vh;
            }

        .card > div > ul {
            grid-column-start: span 2;
        }

    .card > p {
        grid-column-start: span 2;
    }

.lecturer {
    padding: 1rem;
    display: grid;
    grid-template-rows: 25vh max-content auto;
    grid-template-columns: 25vh auto;
}

    .lecturer > img {
        width: 25vh;
    }

    .lecturer > div {
        margin-left: 1vh;
        font-size: 2vh;
    }

        .lecturer > div > button {
            width: 20vh;
            height: 5vh;
            padding: 1vh;
            margin-top: 1vh;
            outline: none;
            background-color: #74C7DC;
            border: none;
            border-radius: 6px;
            color: white;
            font-size: 3vh;
            cursor: pointer;
        }

    .lecturer > p {
        grid-column-start: span 2;
        padding-top: 1rem;
    }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #272727;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}
