@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.topbar {
    background-color: #272727;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-family: 'Lalezar';
}

    .topbar > div {
        width: 20%;
        height: 80%;
        background-color: #00384D;
        border-radius: 6px;
        color: white;
        font-size: 400%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topbar > .selected {
        background-color: #74C7D3;
    }

.content {
    width: 100%;
    height: 80%;
    background-image: url("/images/gradient.png");
    background-size: cover;
}

.footer {
    background-color: #272727;
    width: 100%;
    height: 10%;
}

.stylessLink {
    text-decoration: none;
    color: white;
}