@page
@using aspnetapp.Models.Schedule
@model aspnetapp.Pages.Account.Schedule.AddModel
@{
    ScheduleInfo info = Database.GetSchedule(Model.Account.LecturerGuid);
}

<link rel="stylesheet" href="add.css" />

<body>
    <h1>Add week preset</h1>
    <div>
        <label for="preset_name_inp">Preset name:</label>
        <input id="preset_name_inp" type="text" name="preset_name" />
        <div>
            <label for="from_inp">From:</label>
            <input id="from_inp" type="time" name="from_time" min="05:00" max="22:59" value="07:00" required />
            <label for="to_inp">To:</label>
            <input id="to_inp" type="time" name="to_time" min="05:01" max="23:00" value="16:00" />
        </div>
        <div id="week_container">
            <div class="day" id="mon_div" onmouseup="acceptDrop('mon_div')">
                <div class="dayInfo">MON</div>
            </div>
            <div class="day" id="tue_div" onmouseup="acceptDrop('tue_div')">
                <div class="dayInfo">TUE</div>
            </div>
            <div class="day" id="wed_div" onmouseup="acceptDrop('wed_div')">
                <div class="dayInfo">WED</div>
            </div>
            <div class="day" id="thu_div" onmouseup="acceptDrop('thu_div')">
                <div class="dayInfo">THU</div>
            </div>
            <div class="day" id="fri_div" onmouseup="acceptDrop('fri_div')">
                <div class="dayInfo">FIR</div>
            </div>
            <div class="day" id="sat_div" onmouseup="acceptDrop('sat_div')">
                <div class="dayInfo">SAT</div>
            </div>
            <div class="day" id="sun_div" onmouseup="acceptDrop('sun_div')">
                <div class="dayInfo">SUN</div>
            </div>
        </div>
    </div>
    <div>
        <h2>Subjects:</h2>
        <div>
            <h3>Add Subject</h3>
            <label for="add_name_inp">Name:</label>
            <input id="add_name_inp" type="text" minLength="1" maxlength="4" />
            <label for="add_decs_inp">Description:</label>
            <input id="add_decs_inp" type="text" minLength="0" maxlength="30" />
            <button type="button" onclick="addSubjectFromInp()">Add</buttont>
        </div>
        <div id="subject_container">
            @{
                int i = 0;
                foreach (Subject subject in info.Subjects)
                {
                    string lowerName = subject.Name.ToLowerInvariant();
                    <div id="subject_@lowerName" onmousedown="startDrag('subject_@lowerName', [ '@lowerName', '@subject.Description' ])">
                        <p>@subject.Name</p>
                        <p>@subject.Description</p>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
    <script>
        var subjects = new Set([["None", ""], @Html.Raw(string.Join(", ", info.Subjects.Select(subject => $"[ \"{subject.Name.ToLowerInvariant()}\", \"{subject.Description}\" ]"))) ]);

        var addNameInp;
        var addDescInp;
        var subjectContainer;

        var dragging = false;
        var dragObject;
        var dragInfo;

        function acceptDrop(myId) {
            if (!dragging) return;

            var div = document.getElementById(myId);
            var day = myId.split('_')[0];

            dragging = false;
            dragObject.id = "";
            dragObject.style = "";
            dragObject.className = "inSchSubj"
            dragObject.style.backgroundColor = stringToColor(dragInfo[0]);
            div.appendChild(dragObject);
        }

        function startDrag(objId, info) {
            if (dragging) {
                console.log("something went wrong dragging: true");
                return;
            }

            dragging = true;
            dragObject = document.getElementById(objId).cloneNode(true);
            dragObject.id = "drag_object";
            dragObject.style.position = "absolute";
            document.body.appendChild(dragObject);
            dragInfo = info;
        }

        async function addSubjectFromInp() {
            return await addSubject(addNameInp.value, addDescInp.value, true);
        }
        async function addSubject(name, desc, popup) {
            var err = null;
            if (name.length < 1 || name.length > 4)
                err = "Name must be between 1-4 characters";
            else if (desc.length > 30)
                err = "Description must be between 0-30 characters";
            else if (set_some(subjects, array => array[0] === name.toLowerCase()))
                err = `There already is a subject with the name '${name}'`;

            if (err !== null) {
                if (popup)
                    alert(err);

                return false;
            } else {
                var response;
                try {
                    response = await fetch("/api/subject/add", { method: "PUT", body: JSON.stringify({ "name": name.toLowerCase(), "desc": desc }) });
                } catch (error) {
                    if (popup)
                        alert("There was an error adding the subject: " + error);

                    return false;
                }

                if (!response.ok) {
                    if (popup)
                        alert("Error: " + response.body);

                    return false;
                }

                addSubjectElement(name, desc);

                subjects.add([name.toLowerCase(), desc]);

                return true;
            }
        }

        function addSubjectElement(name, desc) {

            var div = document.createElement("div");
            var pName = document.createElement("p");
            var pDesc = document.createElement("p");

            pName.innerText = name;
            pDesc.innerText = desc;

            div.appendChild(pName);
            div.appendChild(pDesc);

            name = name.toLowerCase();

            div.id = `subject_${name}`;
            div.onmousedown = function () {
                startDrag(`subject_${name}`, [name, desc]);
            };
            div.style.backgroundColor = stringToColor(name);

            subjectContainer.appendChild(div);
        }

        document.addEventListener("DOMContentLoaded", function () {
            addNameInp = document.getElementById("add_name_inp");
            addDescInp = document.getElementById("add_decs_inp");
            subjectContainer = document.getElementById("subject_container");

            addSubjectElement("None", "");

            document.addEventListener('mousemove', function (e) {
                var x = e.clientX;
                var y = e.clientY;

                if (dragging) {
                    dragObject.style.left = x + 15 + 'px';
                    dragObject.style.top = y + 10 + 'px';
                }
            });

            document.addEventListener('mouseup', function (event) {
                if (!dragging) return;

                //if (event.target === null) {
                dragging = false;
                dragObject.remove();
                dragInfo = null;
                //}
            });
        });
    </script>
</body>