@using aspnetapp.Models
@using aspnetapp.Auth
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Teachers Digital Agency</title>
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
	<link rel="icon" href="/images/logo.png" />
</head>
<body>
	<div class="topbar">
		<a href="/" class="stylessLink tab" id="topHomeDiv"><div><p>HOME</p></div><div><img src="/images/Home Icon.svg" alt="Home Icon" /></div></a>
		<a href="/lecturers" class="stylessLink tab" id="topLecturersDiv"><div><p>LECTURERS</p></div><div><img src="/images/Lecturers Icon.svg" alt="Lecturers Icon" />
	</div></a>
		@{
			if (Context.Request.Cookies.TryGetValue("session", out string session) && AccountManager.TryGetAcount(session, out Account acount))
			{
							<div class="tab" id="topSignInDiv">
								<a href="/account" style="font-size: 20px" class="stylessLink"><div><p>@acount.Username</p></div></a>
								<a href="/account/logout" style="font-size: 20px" class="stylessLink"><div><p>Log out</p></div></a>
							</div>
			} else
			{
							<a href="/account/login" class="stylessLink" id="topSignInDiv"><div><p>SIGN IN</p></div><div><img src="/images/Sign In Icon.svg" alt="Sign In Icon" /></div></a>
			}
		}
	</div>
	<div class="content">
		@RenderBody()
	</div>
	<div class="footer">
		<a href="/aboutus"><h1>ABOUT US</h1></a>
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none" onclick="themeClick()">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M25 11.6667C25.442 11.6667 25.866 11.4911 26.1785 11.1785C26.4911 10.8659 26.6667 10.442 26.6667 10V1.66667C26.6667 1.22464 26.4911 0.800716 26.1785 0.488155C25.866 0.175595 25.442 0 25 0C24.558 0 24.1341 0.175595 23.8215 0.488155C23.5089 0.800716 23.3333 1.22464 23.3333 1.66667V10C23.3333 10.442 23.5089 10.8659 23.8215 11.1785C24.1341 11.4911 24.558 11.6667 25 11.6667ZM25 36.6667C31.4433 36.6667 36.6667 31.4433 36.6667 25C36.6667 18.5567 31.4433 13.3333 25 13.3333C18.5567 13.3333 13.3333 18.5567 13.3333 25C13.3333 31.4433 18.5567 36.6667 25 36.6667ZM13.7567 15.9829C13.5499 15.8828 13.3661 15.7411 13.2167 15.5667L7.31667 9.68333C7.00283 9.36949 6.82651 8.94384 6.82651 8.5C6.82651 8.05616 7.00283 7.63051 7.31667 7.31667C7.63051 7.00283 8.05616 6.82651 8.5 6.82651C8.94384 6.82651 9.36949 7.00283 9.68333 7.31667L15.5667 13.2167C15.7411 13.3661 15.8828 13.5499 15.9829 13.7567C16.0829 13.9635 16.1391 14.1887 16.148 14.4182C16.1569 14.6478 16.1182 14.8767 16.0344 15.0905C15.9506 15.3044 15.8235 15.4987 15.6611 15.6611C15.4987 15.8235 15.3044 15.9506 15.0905 16.0344C14.8767 16.1182 14.6478 16.1569 14.4182 16.148C14.1887 16.1391 13.9635 16.0829 13.7567 15.9829ZM11.6667 25C11.6667 24.558 11.4911 24.134 11.1785 23.8215C10.866 23.5089 10.442 23.3333 10 23.3333H1.66667C1.22464 23.3333 0.800716 23.5089 0.488155 23.8215C0.175595 24.134 0 24.558 0 25C0 25.442 0.175595 25.8659 0.488155 26.1785C0.800716 26.4911 1.22464 26.6667 1.66667 26.6667H10C10.442 26.6667 10.866 26.4911 11.1785 26.1785C11.4911 25.8659 11.6667 25.442 11.6667 25ZM7.31667 40.3167L13.2167 34.4333V34.4167C13.5355 34.1436 13.9456 34.0009 14.3651 34.0171C14.7845 34.0333 15.1824 34.2072 15.4793 34.5041C15.7761 34.8009 15.95 35.1988 15.9662 35.6182C15.9824 36.0377 15.8397 36.4478 15.5667 36.7667L9.66667 42.6667C9.51725 42.8411 9.33339 42.9828 9.12662 43.0829C8.91984 43.1829 8.69462 43.2391 8.46509 43.248C8.23556 43.2569 8.00667 43.2182 7.79279 43.1344C7.57892 43.0506 7.38467 42.9235 7.22225 42.7611C7.05982 42.5987 6.93273 42.4044 6.84894 42.1905C6.76515 41.9767 6.72647 41.7478 6.73534 41.5182C6.7442 41.2887 6.80042 41.0635 6.90046 40.8567C7.0005 40.6499 7.1422 40.4661 7.31667 40.3167ZM25 38.3333C24.558 38.3333 24.1341 38.5089 23.8215 38.8215C23.5089 39.134 23.3333 39.558 23.3333 40V48.3333C23.3333 48.7754 23.5089 49.1993 23.8215 49.5118C24.1341 49.8244 24.558 50 25 50C25.442 50 25.866 49.8244 26.1785 49.5118C26.4911 49.1993 26.6667 48.7754 26.6667 48.3333V40C26.6667 39.558 26.4911 39.134 26.1785 38.8215C25.866 38.5089 25.442 38.3333 25 38.3333ZM35.6349 34.0338C36.0544 34.0176 36.4645 34.1603 36.7833 34.4333L42.6833 40.3333C42.9564 40.6522 43.0991 41.0623 43.0829 41.4818C43.0666 41.9012 42.8928 42.2991 42.5959 42.5959C42.2991 42.8928 41.9012 43.0666 41.4818 43.0828C41.0623 43.099 40.6522 42.9564 40.3333 42.6833L34.4333 36.7833C34.1603 36.4645 34.0176 36.0544 34.0338 35.6349C34.05 35.2154 34.2239 34.8175 34.5207 34.5207C34.8176 34.2239 35.2155 34.05 35.6349 34.0338ZM48.3333 23.3333H40C39.558 23.3333 39.1341 23.5089 38.8215 23.8215C38.5089 24.134 38.3333 24.558 38.3333 25C38.3333 25.442 38.5089 25.8659 38.8215 26.1785C39.1341 26.4911 39.558 26.6667 40 26.6667H48.3333C48.7754 26.6667 49.1993 26.4911 49.5119 26.1785C49.8244 25.8659 50 25.442 50 25C50 24.558 49.8244 24.134 49.5119 23.8215C49.1993 23.5089 48.7754 23.3333 48.3333 23.3333ZM36.2398 15.943C36.0383 16.0253 35.8227 16.0673 35.605 16.0667C35.278 16.0663 34.9583 15.9697 34.6856 15.7889C34.4098 15.6059 34.1947 15.3449 34.0677 15.0391C33.9408 14.7334 33.9077 14.3968 33.9729 14.0722C34.038 13.7476 34.1983 13.4498 34.4333 13.2167L40.3333 7.33333C40.6522 7.06029 41.0623 6.91761 41.4818 6.93382C41.9012 6.95002 42.2991 7.1239 42.5959 7.42073C42.8928 7.71755 43.0666 8.11545 43.0828 8.53491C43.099 8.95437 42.9564 9.3645 42.6833 9.68333L36.7833 15.5833C36.6276 15.7378 36.4429 15.86 36.2398 15.943ZM35.605 16.0667C35.6034 16.0667 35.6017 16.0667 35.6 16.0667H35.6167C35.6128 16.0667 35.6089 16.0667 35.605 16.0667Z" />
			</svg>
			<p>Teacher digital Agency © 2024</p>
		</div>
	</div>

	<script>
		window.onload = () => {
			changeTheme();
		}

		function themeClick() {
			localStorage.setItem("theme", localStorage.getItem("theme") == "light" ? "dark" : "light");
			changeTheme();
		}

		function changeTheme() {
			var current = localStorage.getItem("theme");
			
			if (current == "light") {
				document.querySelector(":root").style.setProperty("--primary-color", "white");
				document.querySelector(":root").style.setProperty("--secondary-color", "black");
				document.querySelector(":root").style.setProperty("--text-color", "black");
				document.querySelector(":root").style.setProperty("--gradient", "white");
				document.querySelector(":root").style.setProperty("--scrollbar", "black");
			} else {
				document.querySelector(":root").style.setProperty("--primary-color", "#272727");
				document.querySelector(":root").style.setProperty("--secondary-color", "#808080");
				document.querySelector(":root").style.setProperty("--text-color", "white");
				document.querySelector(":root").style.setProperty("--gradient", "#1E1E1E");
				document.querySelector(":root").style.setProperty("--scrollbar", "#272727");
			}
		}
	</script>
</body>
</html>
