@using aspnetapp.Models
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
	<link rel="icon" href="/images/logo.png" />
</head>
<body>
	<div class="topbar">
		<a href="/"><img src="images/logo.png" /></a>
        <form action="/">
            @{
                foreach (Lecturer.Tag tag in Database.tags)
                {
                    <span>
                        <label>@tag.name</label>
                        <input name="tag" type="checkbox" value="@tag.name" />
                    </span>
                }
            }
            <input placeholder="Input name…" name="lecName" type="search" minlength="1" maxlength="40" />
            <input type="submit" value="Search" />
        </form>
	</div>
	<div class="container">
			@RenderBody()
	</div>
</body>
</html>
