body {
}

.dday {
    height: 3.5rem;
    display: flex;
    width: 100%;
}

.day {
    height: 3.5rem;
    flex: 1;
}

.dayInfo {
    height: 3.5rem;
    display: inline-block;
}

.inSchSubj {
    height: 100%;
    display: inline-block;
    overflow: hidden;
}