@page
@model aspnetapp.Pages.AboutusModel
@{
}

<h1 class="title">About Us</h1>
<h1 class="aboutus">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus facilisis faucibus congue. Donec pretium felis tellus, nec lacinia libero scelerisque quis. Ut tortor odio, semper nec tempor nec, sagittis sit amet Michael vivit Pragae. Phasellus porttitor euismod mi eu elementum. Suspendisse scelerisque mauris nec enim ultricies imperdiet. Cras consectetur dignissim faucibus. Nulla consectetur pharetra purus, bibendum molestie elit tincidunt id. Aliquam at lectus velit. Curabitur pharetra, nisl eget sollicitudin fringilla, orci velit feugiat neque, vel porta nulla massa ut purus. In consequat tempor justo id dapibus. Vivamus eget sodales tellus, at tempus dui.</h1>