@page
@using aspnetapp.Models;
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="lecturerSearchList">
		@{
			var lecturers = Database.lectuerers.ToArray();
			Searcher.RatedString[] result = Searcher.Search(Database.lectuerers.ToArray(), lecturer => ((Lecturer)lecturer.Value).DisplayName, "").Take(10).ToArray();

			for (int i = 0; i < result.Length; i++)
			{
				Lecturer lecturer = lecturers[result[i].OgIndex].Value;
				<div class="card">
					<img src=@lecturer.picture_url alt="Profilový obrázek" />
					<div class="cardItem"><p class="displayName">@lecturer.DisplayName</p></div>
					<div class="cardItem locationContainer">
						<span><img src="images/pin.png" alt="Pin icon" class="pin" />@lecturer.location</span>
						<ul class="tagContainer">
							@{
								for (int j = 0; j < lecturer.tags.Length; j++)
								{
									<li class="tag">@lecturer.tags[i].name</li>
								}	
							}
						</ul>
					</div>
				</div>
			}
		}
	</div>
</body>
</html>