@page
@model aspnetapp.Pages.Account.IndexModel
@{
}

<body>
	<div class="account">
		<p>Username: @Model.Account.Username</p>
		<p>Email: @Model.Account.Email</p>
		@{
			if (Model.Account.HasLecturer)
			{
				<button class="submit" onclick="window.location.replace('./account/lecturer')" style="width: max-content;">Change your lecturer info</button>
			}
			else
			{
				<button class="submit" onclick="window.location.replace('./account/lecturer')" style="width: max-content;">You haven't filled out your lecturer info yet!</button>
			}
		}
		<br />
		<button class="submit" onclick="window.location.replace('./account/schedule')">Schedule</button>
	</div>
</body>