@page
@model aspnetapp.Pages.Account.IndexModel
@{
}

<body>
    <p>Username: @Model.Account.Username</p>
    <p>Email: @Model.Account.Email</p>
    @{
        if (Model.Account.HasLecturer)
        {
            <a href="/account/lecturer">Change your lecturer info</a>
        } else
        {
            <a href="/account/lecturer" style="color: red">You haven't filled out your lecturer info yet!</a>
        }
    }
    <br />
    <a href="/account/schedule">Schedule</a>
</body>