@page
@model aspnetapp.Pages.Account.ScheduleModel
@{
}

<body>
	<form>
		<label for="repeating" >Repeating:</label>
		<input type="radio" name="scheduleType" id="repeating" value="repeating"><br />
		<label for="per_week" >Per week:</label>
		<input type="radio" name="scheduleType" id="per_week" value="per_week">
	</form>
</body>