@page
@model aspnetapp.Pages.Account.ScheduleModel
@{
}

<body>
	<a href="/account/schedule/add">Add week preset</a><br />
	<label for="scheduleDate">Date:</label>
	<input type="date" id="scheduleDate" value="@Model.ScheduleDate.ToString("yyyy-MM-dd")" onchange="dateChanged(event)">
	<br />

	<script>
		var dateSelector;

		function dateChanged(e) {
			var searchParams = new URLSearchParams(window.location.search);
			searchParams.set("date", e.target.value);
			window.location.search = searchParams.toString();
		}

		document.addEventListener("DOMContentLoaded", function () 
		{
			dateSelector = document.getElementById("scheduleDate");
		});
	</script>
</body>