@page
@using aspnetapp.Models.Schedule
@model aspnetapp.Pages.Account.ScheduleModel
@{
	ScheduleInfo info = Database.GetSchedule(Model.Account.LecturerGuid);
}

<body>
	<a href="/account/schedule/add">Add week preset</a><br />
	<label for="scheduleDate">Date:</label>
	<input type="date" id="scheduleDate" value="@Model.ScheduleDate.ToString("yyyy-MM-dd")" onchange="dateChanged(event)"><br />
	<label for="preset">Select preset:</label>
	<select id="preset" name="preset">
		@{
			foreach (var item in info.Presets)
			{
				<option value="@item.Name">@item.Name</option>
			}
		}
	</select>
	<div id="schedule">
		<!--Monday, Tuesday...-->
	</div>

	<script>
		var dateSelector;

		function dateChanged(e) {
			var searchParams = new URLSearchParams(window.location.search);
			searchParams.set("date", e.target.value);
			window.location.search = searchParams.toString();
		}

		document.addEventListener("DOMContentLoaded", function () 
		{
			dateSelector = document.getElementById("scheduleDate");
		});
	</script>
</body>